html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#container {
    background-color: rgba(0, 255, 85, 0.336);

    position: relative;
    border-radius: 5vw;
}

#bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
}

.obj {
    position: absolute;

    border-radius: 25%;
    background-color: red;
    border: 1vw dashed #00000020;
    box-sizing: border-box;

    font-size: 4vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 128px;
    max-height: 128px;
}

.obj img {
    pointer-events: none;
    image-rendering: pixelated;
}

.obj img.img {
    transform: translateY(-25%);
    width: 100%;
}

.obj img.star {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 50%;
    image-rendering: crisp-edges;
}

#sunBarWrapper {
    height: 8vw;
    width: 66vw;

    background-color: #ffe60009;

    border-radius: 4vw;
    border: 1vw dashed #ffe600;

    overflow: hidden;

    max-height: 5vh;
}

#sunBar {
    background-color: #ffe600;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 5vw;
    font-weight: bold;

    max-height: 128px;
}

#sellBar {
    top: 2vw;
    height: 10vw;
    width: 90vw;
    left: 5vw;

    background-color: #309e8620;

    border-radius: 4vw;
    border: 1vw dashed #309e86;

    overflow: hidden;

    color: white;
    font-weight: bold;
    font-size: 8vw;

    text-align: center;

    transition-timing-function: linear;

    max-height: 128px;

    z-index: 999999;
    transition: opacity .2s;
    opacity: 0%;
}

#sellBar img {
    height: 8vw;
    transform: translateY(1vw);
}

#sellBar.visible {
    opacity: 100%;
}

#gearButton,
#shopButton {
    height: 10vw;
    width: 10vw;
}

#gearButton img,
#shopButton img {
    width: 10vw;
}

@media (orientation:landscape) {
    #sunBarWrapper {
        border-width: .5vh;
    }

    #shopButton {
        right: 1vh;
        max-width: 10vh;
        max-height: 10vh;
    }

    #gearButton {
        left: 1vh;
        max-width: 10vh;
        max-height: 10vh;
    }

    #shopButton img,
    #gearButton img {
        height: 10vh;
        width: auto;
    }

}

#shop {
    position: fixed;
    width: 90vw;
    height: calc(100% - 20vw);
    background-color: #222223FA;
    border: 1vw dashed black;
    box-sizing: border-box;
    z-index: 99999;
    left: 5vw;
    top: 5vw;
    border-radius: 4vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 100%;
}

#shop.shown {
    margin-left: 0;
}

#shop .title {
    padding-top: 2vw;
    color: white;
    font-size: 10vw;
    font-weight: bold;
}

#shop .footer {
    color: white;
    font-size: 7vw;
    font-weight: bold;
    height: 10vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #00000066;
    width: 100%;
}

#shop .footer img {
    height: 7vw;
}

#shop #shopWrapper {
    padding: 5vw;
    flex-grow: 1;

    display: grid;
    /* flex-direction: row;
    flex-wrap: wrap;
    grid-auto-columns: 25vw; */
    grid-template-columns: repeat(5, 1fr);

    overflow-y: scroll;

}

#shop .shopIcon {
    width: 15vw;
    height: 22vw;
    /* background-color: red; */

    position: relative;
    margin: 1vw;

    overflow: hidden;
    background-color: #00000033;
    border-radius: 2vw;
    box-sizing: border-box;
    border: 1px solid black;

}

#shop .shopIcon img {
    width: 15vw;
    transform: translateY(-50%);
}

#shop .shopIcon .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;

    position: absolute;
    bottom: 0;

    color: white;
    font-size: 4vw;
    font-weight: bold;
}

#shop .shopIcon .price img {
    height: 5vw;
    width: auto;
    transform: none;
}


#detailBar {
    position: fixed;

    bottom: 2vw;
    height: 10vw;
    width: 90vw;
    left: 5vw;

    border-radius: 4vw;
    border: 1vw dashed #00000022;

    overflow: hidden;

    color: white;
    font-weight: bold;
    font-size: 8vw;

    text-align: center;

    margin-bottom: -100%;
    transition-timing-function: linear;
    transition: margin-top 1s;

    max-height: 128px;

    z-index: 999999;

    text-shadow: #000000 0 0 2vw;

    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

#detailBar .left {
    width: 60vw;
    text-align: left;
    padding-left: 5vw;
}

#detailBar .right {}

#detailBar.visible {
    transition: margin-bottom 0.2s;
    margin-bottom: 0;
}

#detailBar img {
    height: 8vw;
    transform: translateY(1vw);
}